@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap&subset=latin-ext');

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.chosen-section {
    width: 90%;
    max-width: 300px;
}

.chosen-container {
    width: 100% !important;
}