@import url('https://fonts.googleapis.com/css?family=Montserrat:800&display=swap&subset=latin-ext');

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.spilled-image {
    width: 306px;
    position: absolute;
    top: 100%;
    margin-top: -70px;
    left: 240px;
}

.error-section {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    & > span {
        font-size: 100px;
        font-weight: 800;
        margin-top: 90px;
    }
}

.coffee {
    position: relative;
    display: inline-block;

    img {
        width: 312px;
    }
}

.vapor {
    width: 90px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 70px;
}

.vapor span {
    width: 1px;
    background-color: black;
    filter: opacity(0);
    animation: VAPOR_ANIMATION 2s linear infinite;
}

.vapor span:nth-child(1) {
    animation-delay: 0.5s;
}

.vapor span:nth-child(2) {
    animation-delay: 0.1s;
}

.vapor span:nth-child(3) {
    animation-delay: 0.3s;
}

.vapor span:nth-child(4) {
    animation-delay: 0.4s;
}

.vapor span:nth-child(5) {
    animation-delay: 0.2s;
}

@keyframes VAPOR_ANIMATION {
    0% {
        transform: translateY(0);
        filter: opacity(0) blur(0.2em);
    }

    50% {
        transform: translateY(-2em);
        filter: opacity(1) blur(0.4em);
    }

    100% {
        transform: translateY(-4em);
        filter: opacity(0) blur(0.6em);
    }
}