@import url("https://fonts.googleapis.com/css?family=Montserrat:800&display=swap&subset=latin-ext");
* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.spilled-image {
  width: 306px;
  position: absolute;
  top: 100%;
  margin-top: -70px;
  left: 240px;
}

.error-section {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.error-section > span {
  font-size: 100px;
  font-weight: 800;
  margin-top: 90px;
}

.coffee {
  position: relative;
  display: inline-block;
}

.coffee img {
  width: 312px;
}

.vapor {
  width: 90px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 70px;
}

.vapor span {
  width: 1px;
  background-color: black;
  -webkit-filter: opacity(0);
          filter: opacity(0);
  -webkit-animation: VAPOR_ANIMATION 2s linear infinite;
          animation: VAPOR_ANIMATION 2s linear infinite;
}

.vapor span:nth-child(1) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.vapor span:nth-child(2) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.vapor span:nth-child(3) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.vapor span:nth-child(4) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.vapor span:nth-child(5) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

@-webkit-keyframes VAPOR_ANIMATION {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-filter: opacity(0) blur(0.2em);
            filter: opacity(0) blur(0.2em);
  }
  50% {
    -webkit-transform: translateY(-2em);
            transform: translateY(-2em);
    -webkit-filter: opacity(1) blur(0.4em);
            filter: opacity(1) blur(0.4em);
  }
  100% {
    -webkit-transform: translateY(-4em);
            transform: translateY(-4em);
    -webkit-filter: opacity(0) blur(0.6em);
            filter: opacity(0) blur(0.6em);
  }
}

@keyframes VAPOR_ANIMATION {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-filter: opacity(0) blur(0.2em);
            filter: opacity(0) blur(0.2em);
  }
  50% {
    -webkit-transform: translateY(-2em);
            transform: translateY(-2em);
    -webkit-filter: opacity(1) blur(0.4em);
            filter: opacity(1) blur(0.4em);
  }
  100% {
    -webkit-transform: translateY(-4em);
            transform: translateY(-4em);
    -webkit-filter: opacity(0) blur(0.6em);
            filter: opacity(0) blur(0.6em);
  }
}
/*# sourceMappingURL=style.css.map */