@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,700,900&display=swap&subset=latin-ext");
* {
  margin: 0px;
  padding: 0px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  font-family: 'Montserrat', sans-serif;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.chat-container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.chat-container aside {
  width: 25%;
  height: 100%;
  min-width: 420px;
  background-color: #212832;
  background-image: url(../img/sidebar-background.jpg);
  background-position: center;
  background-size: cover;
  padding: 15px;
}

.chat-container aside .logo {
  max-width: 90px;
  margin: auto;
}

.chat-container aside .logo img {
  width: 100%;
  -webkit-filter: invert(1);
          filter: invert(1);
}

.chat-container aside ul li {
  position: relative;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #192029;
  color: white;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 15px;
}

.chat-container aside ul li.active .status {
  background-color: #00ff94;
}

.chat-container aside ul li figure {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
}

.chat-container aside ul li span {
  margin-left: 15px;
  margin-right: 15px;
}

.chat-container aside ul li .status {
  position: absolute;
  right: 15px;
  width: 10px;
  height: 10px;
  background-color: #ea5555;
  border-radius: 50%;
}

.chat-container section {
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #192029;
  padding: 15px;
}

.chat-container section ul {
  height: calc(100% - 115px);
  margin-bottom: 15px;
  overflow: auto;
}

.chat-container section ul li {
  list-style-type: none;
  background-color: #283444;
  border-radius: 20px;
  margin-bottom: 15px;
  padding: 30px;
  display: block;
  margin-right: 50%;
  color: white;
  border-bottom-right-radius: 0px;
}

.chat-container section ul li.friend {
  margin-right: 0px;
  margin-left: 50%;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 0px;
}

.chat-container section textarea {
  resize: none;
  border-color: #19202a;
  border-radius: 4px;
  height: 100px;
  outline: none;
  padding: 15px;
  font-size: 14px;
  font-weight: 300;
  color: white;
  background-color: #212832;
}

.chat-container section textarea::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.chat-container section textarea:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.chat-container section textarea::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.chat-container section textarea::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
/*# sourceMappingURL=main.css.map */