@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Lato:400,700&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Crimson+Text:400,400i');
* { margin: 0px; padding: 0px; text-rendering: optimizeLegibility; -webkit-font-smoothing: antialiased; -webkit-tap-highlight-color: transparent; }
html, body { font-family: 'Montserrat', sans-serif; width: 100%; overflow-x: hidden; background-color: white; }
html.preload {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
html.preload body {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;	
}
ul li { list-style-type: none; }
a { text-decoration: none !important; -webkit-transition-duration: .5s; -moz-transition-duration: .5s; -o-transition-duration: .5s; transition-duration: .5s; }
a:hover { -webkit-transition-duration: .5s; -moz-transition-duration: .5s; -o-transition-duration: .5s; transition-duration: .5s; }










.preloader { position: fixed; display: table; left: 0; top: 0; width: 100%; height: 100%; background-color: white; z-index: 999; }
.preloader .preloader-inner { display: table-cell; vertical-align: middle; text-align: center; }
.preloader span { font-family: 'Lato', sans-serif; font-size: 11px; font-weight: 700; letter-spacing: 4.5px; margin: 0px; }
.preloader svg { width: 30px; height: 27px; }
.preloader .bar { width: 0%; height: 1px; background-color: black; -webkit-transition-duration: 3s; -moz-transition-duration: 3s; -o-transition-duration: 3s; transition-duration: 3s; }
.preloader .bar.active { width: 100%; -webkit-transition-duration: 3s; -moz-transition-duration: 3s; -o-transition-duration: 3s; transition-duration: 3s; }










.lines { position: fixed; pointer-events: none; left: 0; top: 0; width: 100%; height: 100%; z-index: 1; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: space-evenly; -ms-flex-pack: space-evenly; justify-content: space-evenly; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
.lines .line { position: relative; width: 1px; height: 100%; background-color: #f0f0f0; }
.lines .line .sub-line { position: absolute; left: 0px; width: 1px; height: 20px; background-color: #97979d; }
.lines .line .sub-line-long { position: absolute; left: 0px; width: 1px; height: 40px; background-color: #97979d; }
.lines .line:first-child .sub-line { -webkit-animation: flow-animation 2s infinite; animation: flow-animation 2s infinite; }
.lines .line:nth-child(2) .sub-line-long { -webkit-animation: flow-animation-long 4s infinite; animation: flow-animation-long 4s infinite; }
.lines .line:nth-child(3) .sub-line { -webkit-animation: flow-animation 3s infinite; animation: flow-animation 3s infinite; }
.lines .line:last-child .sub-line-long { -webkit-animation: flow-animation-long 5s infinite; animation: flow-animation-long 5s infinite; }
@-webkit-keyframes flow-animation { 0% { top: -20px; } 100% { top: 100%; } }
@keyframes flow-animation { 0% { top: -20px; } 100% { top: 100%; } }
@-webkit-keyframes flow-animation-long { 0% { top: -40px; } 100% { top: 100%; } }
@keyframes flow-animation-long { 0% { top: -40px; } 100% { top: 100%; } }
@media screen and (max-width: 767px) {
	.lines { display: none; }
}










header { position: relative; z-index: 999; margin-top: 100px; margin-bottom: 250px; }
header .logo-button svg { width: 30px; height: 27px; }
@media screen and (max-width: 767px) {
	header { margin-bottom: 100px; }
	header .logo-button { display: table; margin: auto; }
}










main { position: relative; z-index: 999; }
main .home-section { margin-bottom: 250px; color: black; font-weight: 700; }
main .home-section h1 { font-family: 'Lato', sans-serif; font-size: 11px; font-weight: 700; letter-spacing: 4.5px; margin: 0px; }
main .home-section p { font-size: 20px; margin-top: 30px; margin-bottom: 0px; line-height: 35px }
main .home-section p strong { text-decoration: underline; }
@media screen and (max-width: 767px) {
	main .home-section { margin-bottom: 100px; }
	main .home-section h1 { text-align: center; }
	main .home-section p { text-align: center; }
}










main .portfolio-section { margin-bottom: 220px; }
main .portfolio-section .portfolio-item { display: table; width: 100%; height: 343px; text-align: center; background-color: #eeeeee; color: #505050; margin-bottom: 30px; }
main .portfolio-section .portfolio-item i { display: table-cell; vertical-align: middle; }
main .portfolio-section .read-more-button { display: block; width: 200px; height: 50px; font-family: 'Lato', sans-serif; font-weight: 700; font-size: 11px; color: black; border: 1px solid black; text-align: center; margin: auto; letter-spacing: 4.5px; line-height: 45px; margin-top: 70px; }
main .portfolio-section .read-more-button:hover { background-color: #1815b0; color: white; border-color: #1815b0; }
[class^="picon-"]:before, [class*=" picon-"]:before { width: auto; margin: 0px; padding: 0px; line-height: normal; }
main .portfolio-section .portfolio-item:hover { color: white; }
main .portfolio-section .portfolio-item.cocugum-kime-benziyor:hover { background-color: #b1d6e8; }
main .portfolio-section .portfolio-item.detay-filmi:hover { background-color: #10232f; }
main .portfolio-section .portfolio-item.digitalage:hover { background-color: #bdbdbd; }
main .portfolio-section .portfolio-item.dr-energy:hover { background-color: #d6edf9; }
main .portfolio-section .portfolio-item.dugun-atolyeleri:hover { background-color: #1a2433; }
main .portfolio-section .portfolio-item.duymadiginiz-sesler:hover { background-color: #007493; }
main .portfolio-section .portfolio-item.eros:hover { background-color: #a84533; }
main .portfolio-section .portfolio-item.etis:hover { background-color: #e16d0a; }
main .portfolio-section .portfolio-item.goksu-park:hover { background-color: #69cbda; }
main .portfolio-section .portfolio-item.kobiler-kazaniyor:hover { background-color: #f25022; }
main .portfolio-section .portfolio-item.mediacat:hover { background-color: #000000; }
main .portfolio-section .portfolio-item.pelin-guley:hover { background-color: #404040; }
main .portfolio-section .portfolio-item.pinar:hover { background-color: #006b2e; }
main .portfolio-section .portfolio-item.pttcell:hover { background-color: #00234a; }
main .portfolio-section .portfolio-item.rnc:hover { background-color: #0088ae; }
main .portfolio-section .portfolio-item.turkiye-inovasyon-haftasi:hover { background-color: #003069; }
main .portfolio-section .portfolio-item.turkiye-maarif-vakfi:hover { background-color: #003c51; }
main .portfolio-section .portfolio-item.unibble:hover { background-color: #c3b6aa; }
.picon-goksu-park-logo { font-size: 60px; }
.picon-pelin-guley-logo { font-size: 50px; }
.picon-etis-logo { font-size: 40px; }
.picon-dugun-atolyeleri-logo { font-size: 30px; }
.picon-cocugum-kime-benziyor-logo { font-size: 70px; }
.picon-detay-filmi-logo { font-size: 50px; }
.picon-digitalage-logo { font-size: 38px; }
.picon-dr-energy-logo { font-size: 38px; }
.picon-duymadiginiz-sesler-logo { font-size: 35px; }
.picon-eros-logo { font-size: 100px; }
.picon-kobiler-kazaniyor-logo { font-size: 50px; }
.picon-mediacat-logo { font-size: 30px; }
.picon-pttcell-logo { font-size: 50px; }
.picon-rnc-logo { font-size: 30px; }
.picon-turkiye-inovasyon-haftasi-logo { font-size: 50px; }
.picon-turkiye-maarif-vakfi-logo { font-size: 50px; }
.picon-unibble-logo { font-size: 70px; }
.picon-pinar-logo { font-size: 60px; }
@media screen and (max-width: 1199px) {
	main .portfolio-section .portfolio-item { height: 281px; }
}

@media screen and (max-width: 991px) {
	main .portfolio-section .portfolio-item { height: 444px; }
}

@media screen and (max-width: 767px) {
	main .portfolio-section { margin-bottom: 50px; }
	main .portfolio-section .portfolio-item { width: 290px; height: 179px; display: table; margin-left: auto; margin-right: auto; margin-bottom: 15px; }
	main .portfolio-section .read-more-button { margin-top: 35px; }
}










main .about-section { background-color: #1815b0; margin-bottom: 30px; padding-top: 150px; padding-bottom: 150px; }
main .about-section figure { display: table; width: 100%; height: 432px; }
main .about-section figure .cv-button { display: table; text-align: center; margin: auto; margin-top: 50px; color: white; }
main .about-section figure .cv-button i {margin-left: 10px; }
main .about-section figure .wrap { position: relative; display: table-cell; vertical-align: middle; }
main .about-section figure .comp { width: 100%; height: auto; text-align: center; }
main .about-section figure .comp .monitor { width: 372px; height: 245px; display: block; margin: 0 auto; border-radius: 10px 10px 0px 0px; padding: 9px; border: solid 1px #e0e2e2; background-color: black; }
main .about-section figure .comp .mid { float: left; display: block; height: 100%; position: relative; background-color: #abadc6; width: 50%; }
main .about-section figure .comp .mid.codigo { background-color: #22262b; }
main .about-section figure .comp .site { overflow: hidden; position: absolute; width: 105px; height: 138px; bottom: 0; right: 0; }
main .about-section figure .comp .site .topbar { width: 100%; }
main .about-section figure .comp .site .cerrar { width: 100%; padding: 3px; line-height: 0; display: flex; align-items: center; justify-content: flex-start; border-radius: 4px 4px 0px 0px; background-color: #afa895; }
main .about-section figure .comp .site .cerrar > div { display: inline-block; width: 2px; height: 2px; border-radius: 50%; background: white; margin: 0px 1px; }
main .about-section figure .comp .site .inhead { padding: 2px; height: 5px; background-color: #ddd8cf; }
main .about-section figure .comp .site .inhead .item { width: 10px; height: 1px; background-color: #d1c9bf; margin: 0 1px; display: block; float: left; }
main .about-section figure .comp .txr { text-align: right; }
main .about-section figure .comp .txr .item { float: right; }
main .about-section figure .comp .inslid { width: 100%; height: 33px; background-color: #efebe2; }
main .about-section figure .comp .incont { padding-top: 10px; background: #fefaf0; }
main .about-section figure .comp .incont .item { background-color: #d1c9bf; width: 53px; height: 2px; display: block; margin: 0 auto; margin-top: 1px; }
main .about-section figure .comp .incont .item:nth-child(1) { width: 20px; }
main .about-section figure .comp .incont .item:nth-child(2) { margin-top: 3px; width: 41px; }
main .about-section figure .comp .incont .item:nth-child(3) { width: 32px; }
main .about-section figure .comp .incont .item:nth-child(4) { width: 23px; }
main .about-section figure .comp .incont .wid { width: 100%; padding: 8px 1px; }
main .about-section figure .comp .incont .wid .itwid { width: 33.333%; float: left; height: 26px; padding: 0px 3px; }
main .about-section figure .comp .incont .wid .itwid > div { width: 100%; height: 100%; background-color: #f5f1e6; position: relative; }
main .about-section figure .comp .incont .wid .itwid > div .contfoot { position: absolute; bottom: 0; left: 0; height: 6px; width: 100%; background-color: #ebe5dc; }
main .about-section figure .comp .incont .infoot { background-color: #efebe2; height: 26px; width: 100%; }
@keyframes code { 0% { opacity: 1; } 50% { opacity: 0.6; } 100% { opacity: 1; } }
main .about-section figure .comp .codigo { padding: 14px 0px 14px 14px; }
main .about-section figure .comp .codigo .var { background-color: #ac5e47; animation: code; animation-duration: 0.3s; animation-iteration-count: infinite; }
main .about-section figure .comp .codigo .cont { background-color: #464748; animation: code; animation-duration: 0.5s; animation-iteration-count: infinite; }
main .about-section figure .comp .codigo .fun { background-color: #fbb053; animation: code; animation-duration: 0.2s; animation-iteration-count: infinite; }
main .about-section figure .comp .codigo .atr { background-color: #645572; animation: code; animation-duration: 0.1s; animation-iteration-count: infinite; }
main .about-section figure .comp .codigo .item { height: 3px; width: 20px; float: left; margin-right: 3px; }
main .about-section figure .comp .codigo .item.min { width: 13px; }
main .about-section figure .comp .codigo .item.lrg { width: 30px; }
main .about-section figure .comp .codigo .line { padding: 2px 0; width: 100%; }
main .about-section figure .comp .codigo .tab1 { padding-left: 5px; }
main .about-section figure .comp .codigo .tab2 { padding-left: 8px; }
main .about-section figure .comp .codigo .tab3 { padding-left: 10px; }
main .about-section figure .comp .codigo .tab4 { padding-left: 12px; }
main .about-section figure .base { width: 100%; height: 16px; background: #e0e2e2; display: block; margin: 0 auto; border-radius: 0px 0px 6px 6px; }
main .about-section article { color: white; }
main .about-section article h2 { font-weight: 700; font-size: 20px; margin: 0px; margin-bottom: 50px; }
main .about-section article p { font-weight: 300; font-size: 15px; letter-spacing: 0.2px; text-align: justify; line-height: 30px; margin-bottom: 30px; }
main .about-section article p:last-child { margin-bottom: 0px; }
@media screen and (max-width: 1199px) {
	main .about-section figure .comp .monitor { width: 310px; height: 200px; }
	main .about-section figure .base { height: 13px; }
	main .about-section figure { height: 492px; }
}

@media screen and (max-width: 991px) {
	main .about-section figure .wrap { display: table; width: 374px; margin: auto; }
	main .about-section figure { height: auto; margin-bottom: 50px; }
}

@media screen and (max-width: 767px) {
	main .about-section { padding-top: 50px; padding-bottom: 50px; margin-bottom: 15px; }
	main .about-section figure .comp .mid { overflow: hidden; }
	main .about-section figure .wrap { width: 290px; }
	main .about-section figure .base { height: 10px; }
	main .about-section figure .comp .monitor { width: 236px; height: 155px; }
	main .about-section article p { text-align: center; margin-bottom: 10px; }
	main .about-section article h2 { text-align: center; margin-bottom: 30px; }
}










main .skills-section { margin-bottom: 220px; }
main .skills-section h2 { margin-top: 0px; font-weight: 700; font-size: 20px; margin-bottom: 25px; text-align: center; }
main .skills-section p { font-family: 'Crimson Text', serif; font-size: 20px; font-weight: 400; font-style: italic; color: black; margin-bottom: 50px; margin-top: 0px; line-height: 40px; text-align: center; }
main .skills-section .skills-item { display: table; width: 100%; background-color: #eeeeee; height: 222px; margin-bottom: 30px; text-align: center; color: black; -webkit-transition-duration: .5s; -moz-transition-duration: .5s; -o-transition-duration: .5s; transition-duration: .5s; }
main .skills-section .skills-item:hover { -webkit-transition-duration: .5s; -moz-transition-duration: .5s; -o-transition-duration: .5s; transition-duration: .5s; }
main .skills-section .skills-item i { display: table-cell; vertical-align: middle; font-size: 45px; }
main .skills-section .skills-item:hover { color: white;}
main .skills-section .skills-item.html5:hover { background-color: #ef5a3a;}
main .skills-section .skills-item.css3:hover { background-color: #137fc3;}
main .skills-section .skills-item.sass:hover { background-color: #d75893; }
main .skills-section .skills-item.javascript:hover { background-color: #f3823e;}
main .skills-section .skills-item.bootstrap:hover { background-color: #674796;}
main .skills-section .skills-item.wordpress:hover { background-color: #21759b;}
main .skills-section .skills-item.angular:hover { background-color: #b82e2c;}
main .skills-section .skills-item.gulp:hover { background-color: #e84c50;}
main .skills-section .skills-item.git:hover { background-color: #f05133;}
@media screen and (max-width: 1199px) {
	main .skills-section .skills-item { height: 180px; }
}

@media screen and (max-width: 991px) {
	main .skills-section .skills-item { height: 213px; }
}

@media screen and (max-width: 767px) {
	main .skills-section { margin-bottom: 5px; }
	main .skills-section .skills-item { width: 290px; height: 179px; margin: auto; margin-bottom: 15px; }
}










footer { position: relative; z-index: 999; padding-top: 150px; padding-bottom: 150px; background-color: black; color: white; }
footer .container { position: relative; height: 100%; }
footer .container ul { display: table; margin: auto; }
footer .container ul li { display: inline-block; }
footer .container ul li:last-child { margin-right: 0px; }
footer .container ul li a { display: inline-block; font-size: 18px; color: white; opacity: .5; padding-left: 25px; padding-right: 25px; }
footer .container ul li a:hover { opacity: 1; }
footer .container small { font-family: 'Crimson Text', serif; display: table; margin: auto; font-size: 18px; margin-top: 50px; }
@media screen and (max-width: 767px) {
	footer { padding-top: 100px; padding-bottom: 100px; }
	footer .container small { font-size: 15px; text-align: center; }
}